---
import Layout from "../layouts/Layout.astro";
import AboutPage from "../components/AboutPage.astro";
---

<Layout title="tobi">
  <main>
    <AboutPage />
    <!-- <Icons /> -->
    <!-- <Projects /> -->
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
  }
</style>
