---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Icons from "../components/Icons";
---

<Layout title="tobi">
  <main>
    <Hero />
    <About />
    <Icons />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
  }
</style>
