---
import Container from "./Container.astro";
import Icons from "./Icons";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<Container>
  <section id="about" class="space-y-8">
    <div class="text-2 font-bold text-5xl" transition:animate="fade">
      {t("about.title")}
    </div>
    <div class="leading-7" transition:animate="fade">
      <p>
        {t("about.description")}
      </p>
      <br />
      {t("about.technologies")}
    </div>
    <Icons />
  </section>
</Container>
