---
import { getLangFromUrl, useTranslations } from "../utils/language";
import Container from "./Container.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Container>
  <section id="about">
    <div class="text-4 font-bold text-5xl mb-12">about</div>
    <div class="leading-7 mb-12">
      <p>
        In my 3rd Semester of my Bachelor of Engineering Degree in Media
        Technology, main focus on Media Informatics, I discovered my passion for
        Frontend Web Development. I've been learning and improving ever since to
        be able to build and create beautiful user interfaces and experiences.
      </p>
      <br />
      <p>
        My first professional work experience was from October 2022 - February
        2023 as a Frontend Development Intern at a Data Science startup located
        in Salzburg, Austria.
      </p>
      <br />
      Here are technologies I mainly work with:
    </div>
  </section>
</Container>
