---
// about.astro
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LogoBubble from "./LogoBubble.tsx";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="w-full flex justify-center px-4">
  <div class="relative lg:max-w-3xl bg-brand-2 overflow-visible">
    <!-- LogoBubble: z-0 -->
    <div
      class="absolute z-0 left-0 bottom-0 pointer-events-none"
      style="width: 300px; height: 300px; transform: translate(-150px, 150px);"
    >
      <LogoBubble client:load />
    </div>

    <!-- Text-Inhalt: z-10 -->
    <div id="about" class="relative z-10 space-y-6 p-6 bg-brand-2">
      <p class="text-6xl font-extralight text-brand-4">
        {t("about.title")}
      </p>
      <p class="text-md font-extralight">
        {t("about.one")}
      </p>
      <p class="text-md font-extralight">
        {t("about.two")}
      </p>
      <p class="text-md font-extralight">
        {t("about.three")}
      </p>
      <p class="text-md font-extralight">
        {t("about.five")}
      </p>
      <p class="text-md font-extralight">
        {t("about.four")}
      </p>
    </div>
  </div>
</div>
