---
import Container from "./Container.astro";
---

<Container>
  <section id="about">
    <div>About</div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium,
      perspiciatis assumenda. Consequatur corporis corrupti, nam impedit qui
      ipsa maxime expedita voluptas non repudiandae suscipit quod quam unde,
      autem veniam placeat!
    </div>
  </section>
</Container>
