---
import Container from "./Container.astro";
---

<Container>
  <p class="font-sans text-6xl text-white">
    Hi, <span class="text-tiger">Tobi</span> hier.
  </p>
  {/* <p class="text-xl text-earth">Leidenschaftlicher Frontend Dveloper</p> */}
</Container>
