---
import Container from "./Container.astro";
import Icon from "./Icon";
---

<Container>
  <div class="flex flex-col justify-center text-center gap-4 h-[100vh]">
    <p class="text-6xl">
      Hi, <span class="text-earth font-semibold">Tobi</span> here.
    </p>
    <p class="text-lg">
      Drummer and aspiring Frontend Developer based in Passau, Germany.
    </p>

    {
      /* <p class="text-xl text-earth">Leidenschaftlicher Frontend Dveloper</p> */
    }
  </div>
</Container>
