---
import Container from "./Container.astro";
import PrimaryButton from "./buttons/PrimaryButton.astro";
---

<Container>
  <div
    class="flex flex-col items-center justify-center h-[100vh] gap-12 text-center pt-16"
  >
    <div class="space-y-4">
      <p class="text-5xl">
        Hi, <span class="text-earth font-bold">Tobi</span> here.
      </p>
      <p class="text-lg">
        aspiring, passionate frontend developer and drummer based in passau,
        germany.
      </p>
    </div>

    <div class="flex flex-col items-center space-y-6">
      <img
        class="object-cover w-44 h-44 rounded-full"
        src="/assets/CV_Bild.jpg"
        alt="Profile Picture"
      />
      <a href="mailto:tobiasbaier00@gmail.com"
        ><PrimaryButton text={"Contact Me!"} /></a
      >
    </div>
  </div>
</Container>
