---
import HeroIcons from "./HeroIcons";
---

<div
  class="flex flex-col items-center justify-center h-[100vh] px-6 pt-16 gap-12 text-center lg:flex-row lg:text-left"
>
  <div class="space-y-4">
    <p class="text-5xl">
      Hi, <span class="text-earth font-bold">Tobi</span> here.
    </p>
    <p class="text-lg max-w-96">
      aspiring, passionate frontend developer and drummer based in passau,
      germany.
    </p>
    <div><HeroIcons /></div>
  </div>

  <img
    class="object-cover w-44 h-44 rounded-full"
    src="/assets/CV_Bild.jpg"
    alt="Profile Picture"
  />
</div>
