---
import HeroIcons from "./HeroIcons";
---

<div
  class="flex flex-col items-center justify-center gap-12 text-center lg:flex-row lg:text-left border border-3"
>
  <div class="space-y-4">
    <p class="text-4xl font-medium">
      <!-- Hi, <span class="text-2">Tobi</span> here. -->
      Tobi Baier
    </p>
    <p class="text-md max-w-96">hero.description</p>
    <HeroIcons />
  </div>

  <img class="object-cover w-44 h-44 rounded-full border-4" src="" alt="" />
  <!-- /assets/CV_Bild.jpg -->
</div>
