---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import { LiaDownloadSolid } from "react-icons/lia";
import { AiOutlineMail } from "react-icons/ai";
import IconButton from "@/components/IconButton.tsx";

// Sprache aus URL extrahieren und Übersetzungen holen
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div
  class="flex flex-col justify-center items-center gap-12 font-extralight lg:flex-row"
>
  <div class="space-y-6">
    <div class="text-center text-8xl text-brand-4 space-y-8 lg:text-left">
      <p>
        {t("hero.hi")}
        <span class="text-brand-4">{t("hero.tobi")}</span>
        {t("hero.here")}
      </p>
    </div>

    <p
      class="sm:justify-self-center lg:justify-self-start text-md max-w-96 text-center lg:text-left"
    >
      {t("hero.description")}
    </p>

    <div
      class="flex flex-row justify-center gap-4 lg:flex-row lg:items-center lg:justify-self-start"
    >
      <!-- E-Mail Button -->
      <IconButton
        href="mailto:tobiasbaier00@gmail.com"
        download={false}
        text={t("contact.me")}
      />

      <!-- Optional: Lebenslauf Button -->
      <IconButton
        href="/assets/CV-TobiasBaier.pdf"
        download={true}
        text={t("download.cv")}
        downloadIcon
      />
    </div>
  </div>

  <img
    class="object-cover w-64 h-64 rounded-full border-4"
    src="/images/profile-bw-min.JPG"
    alt="Profilbild von Tobi"
  />
</div>
