---
import {
  getLangFromUrl,
  getRouteFromUrl,
  useTranslatedPath,
  useTranslations,
} from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const route = getRouteFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav
  class="fixed top-0 left-0 right-0 py-4 z-10 bg-brand-2 border-b border-brand-3"
>
  <div class="max-w-screen-xl mx-auto">
    <ul
      class="flex justify-between items-center text-sm font-light text-gray-700"
    >
      <div class="flex items-center space-x-8">
        <li>
          <a
            class="text-brand-5 hover:text-brand-4 transition-colors duration-500"
            href={translatePath("/")}>{t("nav.home")}</a>
        </li>
        <li>
          <a
            class="text-brand-5 hover:text-brand-4 transition-colors duration-500"
            href={translatePath("/about/")}>{t("nav.about")}</a>
        </li>
        <li>
          <a
            class="text-brand-5 hover:text-brand-4 transition-colors duration-500"
            href={translatePath("/projects/")}>{t("nav.projects")}</a>
        </li>
      </div>
      <li class="flex items-center space-x-4">
        <a href={translatePath(`/${route ?? ""}`, "en")}>
          <img src="/assets/gb.svg" alt="English" class="w-5 h-auto" />
        </a>
        <div class="h-3 w-px bg-brand-5"></div>
        <a href={translatePath(`/${route ?? ""}`, "de")}>
          <img src="/assets/de.svg" alt="Deutsch" class="w-5 h-auto" />
        </a>
      </li>
    </ul>
  </div>
</nav>
