---
import Container from "./Container.astro";
---

<section class="py-4 lg:py-8 inset-x-0 top-0 fixed bg-darkgreen">
  <Container>
    <nav class="flex h-16 items-center justify-center gap-12 text-lg font-thin">
      <a href="#about">about</a>
      <a href="#projects">projects</a>
      <a href="#drumming">drumming</a>
    </nav>
  </Container>
</section>
