<nav class="absolute top-0 right-0 mt-6 mr-[96px] z-10">
  <ul class="flex space-x-4 text-sm font-medium text-gray-700">
    <li><a href="/">Home</a></li>
    <li><a href="/about/">nav.about</a></li>
    <li><a href="/projects/">nav.projects</a></li>
  </ul>
</nav>
<!--
<section class="py-4 lg:py-8 inset-x-0 top-0 fixed bg-2 w-full">
  <Container>
    <nav class="flex h-12 items-center justify-center gap-12 text-sm">
      <a href="">{t("nav.about")}</a>
      <a href="">{t("nav.home")}</a>
      <LanguagePicker />
    </nav>
  </Container>
</section>
-->
