---
import Container from "./Container.astro";
---

<section class="absolute pb-8 pt-6 inset-x-0 top-0">
  <Container>
    <nav class="flex h-16 items-center justify-center gap-12 text-lg">
      <a href="#about">about</a>
      <a href="#projects">projects</a>
      <a href="#drumming">drumming</a>
    </nav>
  </Container>
</section>
