---
import { projects } from "../utils/projects";

import Container from "./Container.astro";
import ProjectCard from "./ProjectCard.astro";
---

<Container>
  <section id="projects">
    <div class="text-2 font-bold text-5xl" transition:animate="fade">
      projects
    </div>

    <div class="leading-7 space-y-12 pt-6" transition:animate="slide">
      {
        projects.map((project) => (
          <ProjectCard
            title={project.title}
            description={project.description}
          />
        ))
      }
    </div>
  </section>
</Container>
