---
import ProjectCard from "./ProjectCard.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import WebWelleImage from "../images/webwelle.png";
import BbafImage from "../images/baierbuam.png";

const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="grid grid-rows-2 grid-cols-2 gap-8">
  <div>
    <p>{t("projects.webwelle.title")}</p>
    <p>{t("projects.webwelle.description")}</p>
    <img src="" alt="img" />
  </div>
  <div>
    <p>{t("projects.bbaf.title")}</p>
    <p>{t("projects.bbaf.description")}</p>
    <img src="" alt="img" />
  </div>
</div>
