---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="impressum">
  <h1>Impressum</h1>

  <p>
    Tobias Baier<br />
    Schaldinger Stra&szlig;e 99<br />
    94036 Passau
  </p>

  <h2>Kontakt</h2>
  <p>
    Telefon: 016098348063<br />
    E-Mail: tobiasbaier00@gmail.com
  </p>

  <p>
    Quelle: <a href="https://www.e-recht24.de/impressum-generator.html"
      >https://www.e-recht24.de/impressum-generator.html</a>
  </p>
</Layout>
