---
import Hero from "../../components/Hero.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="tobi">
  <main>
    <Hero />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
  }
</style>
