---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="tobi">
  <main>
    <Hero />
    <About />
    <Icons />
    <Projects />
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
