---
import About from "../../components/About.astro";
import Hero from "../../components/Hero.astro";
import Icons from "../../components/Icons";
import Projects from "../../components/Projects.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="tobi">
  <main>
    <Hero />
    <About />
    <Icons />
    <Projects />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
  }
</style>
