---
import Layout from "../../layouts/Layout.astro";
import ProjectsPage from "../../components/ProjectsPage.astro";
---

<Layout title="tobi">
  <main>
    Deutsch
    <!-- <Icons /> -->
    <ProjectsPage />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding-bottom: 4rem;
  }
</style>
