---
import Nav from "../components/Nav.astro";
import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import CommonHead from "@/components/CommonHead.astro";
import Footer from "@/components/Footer.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

interface Props {
  title: string;
}
---

<!doctype html>
<html lang={lang}>
  <head>
    <CommonHead />
  </head>
  <body class="">
    <Nav />
    <div class="relative mt-32"><slot /></div>
    <Footer />
  </body><style is:global>
    :root {
      --accent: 136, 58, 234;
      --accent-light: 224, 204, 250;
      --accent-dark: 49, 10, 101;
      --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
      );
    }
    html {
      font-family: "Poppins", monospace;
      background-size: 224px;
      background: #f0eee6;
    }
  </style>
</html>
